<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<% if @article.errors.any? %>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<ul>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= form_for @article do |f| %>
<p>
<%= f.label :title %></br>
<%= f.text_field :title %>
</p>
<p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
</p>
<p>
    <%= radio_button_tag(:title, "Correct") %>
    <%= label_tag(:description, "Correct") %>
</p>
<p>
    <%= f.submit 'create Article' %>
</p>

<% end %>